@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

/* Geral */

:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Manrope;
  font-weight: 400;
  color: var(--text-color);
  min-height: 100vh;
  background-color: var(--backgrond);
  background-image: url("../assets/blur-mobile.png");
  background-position: bottom;
  background-size: 100% 250px;
  background-repeat: no-repeat;
}

.button {
  border: 2px solid var(--button);
  color: var(--text-color);
  border-radius: 8px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: inherit;
  padding: 1.25rem 2rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.button:hover {
  background-color: var(--button);
  filter: brightness(1.025);
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

/* Mobile Header */

.header {
  height: 70px;
  border-bottom: var(--border) 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar__wrapper {
  position: absolute;
  top: 71px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  opacity: 0;
  z-index: 1000;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.navbar__wrapper.open {
  width: 100%;
  opacity: 1;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: var(--border) 1px solid;
}

.navbar li.selected {
  border-left: var(--button) 4px solid;
}

.navbar a {
  color: var(--border-menu-mobile);
  text-decoration: none;
  padding-left: 2rem;
}

.navbar li.selected a {
  color: var(--text-color);
}

.logo {
  --width: 100px;
  background-repeat: no-repeat;
  background-image: url("../assets/logo-mobile.svg");
  background-position: center center;
  background-size: var(--width);
  width: var(--width);
  height: 100%;
}

.menu {
  --size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: var(--size) var(--size);
  width: var(--size);
  height: 100%;
  cursor: pointer;
}

.menu.open {
  background-image: url("../assets/menu-buguer-open.svg");
}

.menu.close {
  background-image: url("../assets/menu-buguer-close.svg");
}

.take-coffe-desktop {
  display: none;
}

/* Main */

.title__header {
  max-width: 300px;
  margin: 120px auto;
}

.title__header__text {
  font-size: 30px;
  text-align: center;
}

.take-coffe-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.take-coffe-mobile .button {
  width: 200px;
  height: 37px;
}

.great {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  font-size: 50px;
  margin: 120px 0 60px;
}

.great__coffee {
  font-weight: bold;
}

.great__code {
  color: var(--backgrond);
  font-weight: bold;
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

.great__coffee,
.great__code {
  text-align: center;
}

.rocket-coffe__figure {
  width: 100%;
  height: 100%;
}

.rocket-coffe__figure img {
  width: 100%;
  height: 100%;
}

/* Desktop */

@media screen and (min-width: 1024px) {
  body {
    background-image: url("../assets/blur-1.png"), url("../assets/blur-2.png");
    background-position: bottom left, top right;
    background-size: 600px 600px, 600px 600px;
    background-repeat: no-repeat, no-repeat;
  }

  /* Header  */

  .header {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    border: none;
    justify-content: space-between;
    padding: 0;
  }

  .logo {
    --width: 40px;
    background-image: url("../assets/logo-desktop.svg");
  }

  .menu {
    display: none;
  }

  .navbar__wrapper {
    flex: 1;
    opacity: 1;
    position: static;
    display: flex;
    align-items: center;
    padding: 0 5rem;
  }

  .navbar {
    flex: 1;
  }

  .navbar ul {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar li {
    border: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar li.selected {
    border: none;
  }

  .navbar a {
    color: var(--text-color);
    padding: 0;
    text-align: center;
    position: relative;
    font-size: 14px;
  }

  .navbar a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: var(--text-color);
    transition: 0.2s ease-in-out;
  }

  .navbar a:hover::after {
    width: 100%;
  }

  .take-coffe-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }

  .take-coffe-desktop .button {
    width: 100%;
    height: 37px;
  }

  /* Main */

  .title__header {
    display: none;
  }

  .take-coffe-mobile {
    display: none;
  }
}
